body {
    font-family: 'Roboto';font-size: 22px;
    background-color: rgb(187, 187, 187);
}

.header {
    padding: 10px 16px;
    background: #000000;
    color: #ffffff;
    z-index: 1000;
    position: fixed;
}

.imgSize {
    width: 50%;
    height: 50%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.iconSize {
    color: #ffffff;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.txtCenter {
    margin-top: 10px;
    margin-bottom: 10px;
}

.myFooter {
    background-color: #ffffff;
}

.menu-icon{
    margin-left: 90%;
}

.menu-icon:hover .dropdown-menu{
    display: block;
}

.menu-icon:hover{
    margin-left: 70%;
    padding-left: 20%;
}

@media (min-width: 1050px) { /*Pc version*/
    .dropdown-menu {
        position: absolute;
        top: 80%;
        width: 300px;
        left: auto;
        right: 0px;
        background-color: rgb(41, 41, 41);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1500;
        list-style: none;
        padding: 0.7%;
        text-align: center;
    }

    .dropdown-menu a {
        color: white;
        text-decoration: none;
        padding: 5%;
        display: inline-block;
    }
}

@media (max-width: 1050px) { /*Mobile version*/
    .dropdown-menu {
        position: absolute;
        top: 0;
        width: 60%;
        left: auto;
        right: 0px;
        background-color: rgb(41, 41, 41);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1500;
        list-style: none;
        padding: 0.7%;
        padding-left: 0%;
    }

    .dropdown-menu a {
        color: white;
        text-decoration: none;
        padding-top: 10%;
        padding-bottom: 10%;
        display: inline-block;
    }
}

@media (min-width: 1050px) { /*Pc version*/
    .dropdown-menu li {
        text-size-adjust: 20%;
        width: 100%;
        text-align: center;
    }

    .dropdown-menu a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 1050px) { /*Mobile version*/
    .dropdown-menu li {
        text-size-adjust: 300%;
        margin-left: 10%;
        margin-right: auto;
    }
    .iconSize {
        color: #ffffff;
        width: 70px;
        height: 70px;
        margin: 10px;
    }
}

.header-mobile {
    display: none;
}

.header-pc {
    display: none;
}

@media (min-width: 1050px) { /*Pc version*/
    .header-pc {
        display: block;
    }
    .header-mobile {
        display: none;
    }
}

@media (max-width: 1050px) { /*Mobile version*/
    .header-pc {
        display: none;
    }
    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-mobile div:first-child {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

@media (min-width: 1050px) { /*Pc version*/
    .under-header {
        padding: 50px;
    }
}

@media (max-width: 1050px) { /*Mobile version*/
    .under-header {
        padding: 9%;
    }
}